<!doctype html>
<html lang="en">
<head>
	<title>Shelf Life Bookstore</title>
	<script src="handlebars-v4.0.2.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css" />
</head>
<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<body>
    {{body}}
</body>
</html>