<!doctype html>
<head>
	<script src="handlebars-v4.0.2.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css" />
</head>
<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<body>
    <h1>The user you have selected: {{name}}</h1>
    <p>Current email: {{email}}</p>
</body>
</html>